<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <section class="profile white">
          <div class="row">
            <div class="image-container">
              <img
                src="./../../../assets/images/placeholders/profile_pic.jpg"
                alt="profile_pic"
              />
            </div>
            <div class="text">
              <small>Change Photo</small>
            </div>
          </div>
        </section>
      </ion-col>
    </ion-row>
    <ion-row>
      <form (ngSubmit)="onSubmit()" style="margin: 0 2vw">
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input placeholder="imJohn"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input placeholder="johndoe@example.com"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Zip Code</ion-label>
          <ion-input placeholder="22313"></ion-input>
          <ion-icon name="location-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Height (cm)</ion-label>
          <ion-input type="number" placeholder="170"></ion-input>
          <ion-icon name="man-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Weight</ion-label>
          <ion-input type="number" placeholder="70"></ion-input>
          <ion-icon name="body-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Age</ion-label>
          <ion-input type="number" placeholder="35"></ion-input>
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Gender</ion-label>
            <ion-select
              placeholder="Select One"
              appNoArrow
              style="padding-right: 20px"
            >
              <ion-select-option value="female">Female</ion-select-option>
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="other">Other</ion-select-option>
            </ion-select>
            <ion-icon name="male-female-outline"></ion-icon>
          </ion-item>
        </ion-list>

        <div>
          <ion-button type="submit" expand="block" class="button"
            >Finish
          </ion-button>
        </div>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
