.gamification-head {
  height: 10vh;
  padding: 0 !important;

  .banner-logo-container {
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-logo {
      width: 55px;
    }
  }

  .banner-title-container {
    height: 6vh;
    display: flex;
    justify-content: center;
    background-color: var(--ion-color-light);
  }
}
.mainmenu {
  #mainmenu-item {
    ion-card {
      width: 100%;
      padding: 10px;
      margin: 10px;
      div {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
