<ion-header> </ion-header>

<ion-content>
  <ion-grid class="container">
    <ion-row>
      <ion-col class="logo-container">
        <img
          src="./../../../assets/images/logo/logo.png"
          alt="logo"
          class="logo"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="heading-section">
        <h2>Register</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input placeholder="example@gmail.com"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" placeholder="*********"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input type="password" placeholder="*********"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <div>
          <ion-button type="submit" expand="block" class="button">Register</ion-button>
        </div>
      </form>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="or">or</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="social-logins">
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center" style="margin-top: auto;">
        Already have an account? <a [routerLink]="['/login']">login</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
