<ion-header class="ion-no-border">
  <ion-grid class="blog-head">
    <ion-row>
      <ion-col class="banner-logo-container">
        <img
          src="../../../assets/images/logo/logo-white.png"
          class="banner-logo"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="banner-title-container">
        <ion-title style="font-size: 1em">Blog</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-grid class="blog-container">
    <ion-row>
      <ion-col>
        <ion-card
          *ngFor="let content of blogs"
          class="blog-card card"
          style="
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.6)
          ),
          url({{content.background}});"
          (click)="cardClick(content.url)"
        >
          <div>
            <p class="title">{{content.title}}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
