<ion-content [fullscreen]="true">
  <ion-grid class="landing-head">
    <ion-row style="height: 80%">
      <ion-col class="landing-logo-container">
        <img
          src="./../../../assets/images/logo/logo-white.png"
          class="landing-logo"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card id="how-hayda-works">
          <div class="how-hayda-works-section">
            <h2>Welcome to HAYDA</h2>
            <a href="#">Learn how HAYDA works</a>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="landing-content">
    <ion-row>
      <ion-col>
        <ion-card class="healthhub-section">
          <ion-list lines="none">
            <ion-list-header>Health Hub</ion-list-header>
            <ion-reorder-group
              (ionItemReorder)="doReorder($event)"
              id="healthhub-reorder"
              disabled="false"
            >
              <ion-item *ngFor="let content of health_hub" id="health-hub-item">
                <ion-label>
                  <app-redirect-confirm [content]="content">
                  </app-redirect-confirm>
                </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card (click)="goToWorkout()">
          <div class="workout-section">
            <div>
              <h2 style="margin: 0">Set Your</h2>
              <h3 style="margin: 0">Goals</h3>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
