<ion-header class="ion-no-border">
  <ion-grid class="landing-head">
    <ion-row>
      <ion-col class="banner-logo-container">
        <img
          src="../../../assets/images/logo/logo-white.png"
          class="banner-logo"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid class="landing-content">
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-reorder-group
            (ionItemReorder)="doReorder($event)"
            id="mainmenu-reorder"
            disabled="false"
            class="mainmenu"
          >
            <ion-item id="mainmenu-item">
              <ion-card>
                <div>
                  <a (click)="presentHealthHub()"> Health Hub </a>
                  <ion-reorder slot="end"></ion-reorder>
                </div>
              </ion-card>
            </ion-item>

            <ion-item id="mainmenu-item">
              <ion-card>
                <div>
                  <a (click)="presentInTheKnow()"> In The Know </a>
                  <ion-reorder slot="end"></ion-reorder>
                </div>
              </ion-card>
            </ion-item>

            <ion-item id="mainmenu-item">
              <ion-card>
                <div>
                  <a (click)="openChatBot()"> Chat With HAYDA </a>
                  <ion-reorder slot="end"></ion-reorder>
                </div>
              </ion-card>
            </ion-item>

            <ion-item id="mainmenu-item">
              <ion-card>
                <div>
                  <a (click)="presentPremiumServices()"> Premium Services </a>
                  <ion-reorder slot="end"></ion-reorder>
                </div>
              </ion-card>
            </ion-item>

            <ion-item id="mainmenu-item">
              <ion-card>
                <div>
                  <a (click)="presentSetYourGoals()"> Set Your Goals </a>
                  <ion-reorder slot="end"></ion-reorder>
                </div>
              </ion-card>
            </ion-item>

            <ion-item id="mainmenu-item">
              <ion-card>
                <div>
                  <a (click)="presentHowHaydaWorks()"> How HAYDA Works </a>
                  <ion-reorder slot="end"></ion-reorder>
                </div>
              </ion-card>
            </ion-item>
          </ion-reorder-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
